@charset "utf-8";

/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	color: #333;
	position: relative;
	padding-bottom: 94px;
	min-height: 1050px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

s {
	text-decoration: none;
}

s, em {
	font-style: normal;
}

img {
	border: none;
}

li {
	list-style: none;
}

input, select, textarea {
	outline: none;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	outline: none;
	background-color: transparent;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

body a {
	outline: none;
	_blr: expression(this.onFocus = this.blur ());
}

body {
	font-size: 14px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif;
	color: #333;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	display: block;
	line-height: 0;
	font-size: 0;
	height: 0;
	width: 0;
	clear: both;
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
	visibility: hidden;
	line-height: 0;
}

.clearfix {
	display: inline-table;
	min-height: 0;
}

* html .clearfix {
	height: 1%;
	_height: auto;
	_zoom: 1;
}

.clearfix {
	display: block;
}

/*header start*/
#header {
	height: 83px;
	background: url(../images/top_bg_02.png);
	box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.4);
	/*  position:fixed;
        width:100%;
        top:0;*/
	min-width: 1200px;
}

.scroll_nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	width: 100%;
	height: 40px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	*background: #000;
	filter: Alpha(opacity = 20);
}

.scroll_nav_inner {
	width: 1200px;
	margin: 0 auto;
}

@font-face {
	font-family: index_nav;
	src: url(../font/jianyouxian.TTF);
}

.header_inner {
	width: 1200px;
	margin: 0 auto;
	height: 83px;
}

.logo img {
	height: 58px;
}

.logo, .name {
	float: left;
}

.logo {
	padding-top: 11px;
}

.name {
	margin-left: 5px;
	padding-top: 30px;
}

.scroll_nav .nav {
	float: left;
	margin-top: 10px;
	width: 410px;
}

.scroll_nav .nav a {
	color: #ddd;
}

.nav {
	float: right;
	margin-top: 34px;
}

.nav li {
	float: left;
}

.nav li .active, .scroll_nav .nav .active {
	color: #fff;
	font-weight: 500;
}

.nav li a {
	float: left;
	color: #c8c8c8;
	display: block;
	font-size: 16px;
	font-family: index_nav;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.nav_01 li a {
	width: 36px;
}

.login {
	float: right;
	color: #c8c8c8 !important;
	display: block;
	font-size: 16px;
	font-family: index_nav;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	margin-top: 34px;
	width: 100px;
	text-align: center;
}

.nav li+li {
	margin-left: 40px;
}

.nav li a:hover, .login:hover {
	color: #fff !important;
}

.top_img_box {
	padding-left: 15px;
	height: 61px;
	line-height: 39px;
	float: right;
	padding-top: 22px;
	position: relative;
	cursor: pointer;
}

.top_img_box span {
	display: block;
	float: left;
	line-height: 40px;
	color: #eee;
	font-size: 13px;
	max-width: 100px;
	border-radius: 20px;
	overflow: hidden;
	height: 39px;
}

.top_img_box span:hover {
	color: #ff9046;
}

.top_img_box .top_img {
	width: 39px;
	height: 39px;
	background-size: cover;
	margin-right: 10px;
}

#img_nav {
	position: absolute;
	top: 62px;
	width: auto;
	background: rgba(18, 15, 12, 0.6);
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	z-index: 99;
	display: none;
}

#img_nav li a {
	display: block;
	line-height: 40px;
	color: #ccc;
	font-size: 13px;
	width: 96px;
	text-align: left;
	padding-left: 30px;
}

#img_nav li a:hover {
	color: #ff9046;
}

#img_nav li a:active {
	color: #ff690f;
}

.img_a_01 {
	background: url(../images/img_nav_02.png) no-repeat left top;
}

.img_a_02 {
	background: url(../images/img_nav_01.png) no-repeat left top;
}

.img_a_03 {
	background: url(../images/img_nav_32.png) no-repeat left top;
}

.img_a_04 {
	background: url(../images/img_nav_34.png) no-repeat left top;
}

.img_a_05 {
	background: url(../images/img_a_05.png) no-repeat left top;
}

.img_a_06 {
	background: url(../images/img_a_06.png) no-repeat left top;
}

.img_a_07 {
	background: url(../images/img_a_07.png) no-repeat left top;
}
/*header end*/

/*footer start*/
#footer {
	height: 70px;
	background: url(../images/bottom_bg_02.png);
	text-align: center;
	color: #adadad;
	font-size: 15px;
	line-height: 24px;
	padding-top: 24px;
	min-width: 1200px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#footer a {
	color: #adadad;
}

#footer a:hover {
	color: #f70;
}

.foot_b {
	font-size: 13px;
}

/*footer end*/
/* ======================统计图表公共样式============================ */
/*统计分析*/
.tongjibox {
	padding-top: 20px;
}

.floor {
	margin-bottom: 20px;
}

.floor-tit {
	height: 30px;
	line-height: 30px;
}

.floor-tit span {
	font-size: 16px;
	font-weight: 700 !important;
	vertical-align: middle;
}

.floor-col {
	width: 598px;
	min-height: 10px;
}

.floor .chartbox {
	min-height: 100px;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background: #fff;
	overflow: hidden;
}

.floor .detailbox {
	margin-bottom: 20px;
	padding: 0 20px;
}

.floor .pages {
	margin-bottom: 20px;
	padding-top: 20px;
}

.floor .chartbox img {
	display: block;
	margin: 0 auto;
}

.floor-db {
	padding-top: 30px;
	margin-bottom: 40px;
}

.floor-wrap {
	border: 1px solid #ccc;
}

.floor-db .floor-tit {
	margin-top: -30px;
}

.floor-wrap .chartbox {
	border: none;
	margin-bottom: 10px;
	margin-top: 10px;
	border-left: 1px solid #ccc;
	margin-left: -1px;
}

/* 统计分析锚点导航 */
.tongjiNav {
	position: fixed;
	top: 200px;
	left: 0;
	z-index: 10000;
	/*border: 1px solid #e7e7e7;*/
	border-top: 4px solid #f50;
	background-color: #f9f9f9;
	line-height: 40px;
	_position: absolute;
	_margin-top: 200px;
	_bottom: auto;
    _top: e­xpression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	display: none;
}

.tongjiNav li {
	margin-bottom: 2px;
}

.tongjiNav li {
	padding: 0 20px;
	cursor: pointer;
}

.tongjiNav li:hover {
	color: #fff;
	background-color: #f60;
}

.tongjiNav li.cur {
	color: #fff;
	background-color: #f60;
}

.showNav.tongjiNav {
	display: block;
}
/*锚点导航--end*/
.icon-tit-line {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 16px;
	width: 0;
	border-left: 2px solid #f60;
	padding-left: 10px;
	vertical-align: middle;
	font-size: 0;
}

/* 收起按钮 */
.cbtnbox {
	min-height: 24px;
	text-align: right;
	padding: 0 20px;
}

.cbtnbox .cbtn-packup {
	color: #6392fe;
}

.cbtnbox .cbtn-packup:hover {
	color: #f60;
}

.cbtn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-left: 10px;
}

.cbtn-order-desc, .cbtn-order-asc {
	width: 24px;
	height: 16px;
	background: url(../images/icon-order.png) 0 0 no-repeat;
}

.cbtn-order-asc {
	background-position: 0 -14px;
}

.carrowDown {
	position: relative;
	top: 0px;
	left: 3px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 17px;
	height: 7px;
	overflow: hidden;
	-webkit-transition: transform 0.1s ease-in 0s;
	-moz-transition: transform 0.1s ease-in 0s;
	-ms-transition: transform 0.1s ease-in 0s;
	-o-transition: transform 0.1s ease-in 0s;
	transition: transform 0.1s ease-in 0s;
	margin-right: 6px;
}

.carrowDown s {
	position: absolute;
	left: 0;
	top: -14px;
	font-size: 28px;
	line-height: 28px;
  font-family: PingFang SC,"Microsoft YaHei", "微软雅黑", "黑体", "Simsun", serif;
}

.cbtnbox .cbtn-packup:hover .carrowDown {
	top: 0;
	left: 3px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* 收起按钮 end*/
/* 表格 */
.table-list {
	width: 100%;
	border: 1px solid #eee;
    font-family: "宋体", "SimSun", arial, "STFangsong", Helvetica Neue, Helvetica, PingFang SC, sans-serif;
	font-size: 12px;
}

.table-list caption {
	height: 32px;
	line-height: 32px;
	text-align: left;
	padding-left: 16px;
	font-weight: 700 !important;
	font-size: 14px;
}

.table-list tr, .table-list td, .table-list th {
	border: 1px solid #eaeaea;
}

.table-list th, .table-list td {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 18px;
}

.table-list th {
	height: 32px;
	color: #555;
	word-break: keep-all;
	word-wrap: normal;
}

.table-list td {
	height: 36px;
	color: #6a727f;
}

.table-list .checkcon span {
	padding-left: 6px;
	vertical-align: middle;
	font-family: arial, sans-serif;
	word-break: keep-all;
	white-space: nowrap;
}

.table-list .checkcon [type="checkbox"] {
	vertical-align: middle;
}

.table-list .bgc-gray {
	background-color: #f8f9fb;
}

.table-list tbody tr:hover {
	background-color: #fafafa;
}

.table-list-link {
	color: #6392fe;
}

.table-list-link:hover {
	color: #f60;
}

.table-list .num, .table-list .year, .table-list .times {
	white-space: nowrap;
	word-break: keep-all;
}

.table-list .times {
	text-align: right;
}

/* 图标 */
.cicon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 30px;
	height: 30px;
	background: url(../images/cicon-sprite_04.png) 0 0 no-repeat;
	vertical-align: middle;
}

.cicon-chart {
	background-position: 0 -30px;
}

.on .cicon-chart, .tabbox-style1 .tabhead li:hover .cicon-chart {
	background-position: 0 0;
}

.cicon-files {
	/*background-position: -170px 0;*/
	background-position: -174px 0;
}

.cicon-scholar {
	/*background-position: -127px 0;*/
	/* background-position: -131px 0;*/
	background-position: -131px -30px;
}

.tabbox-style1 .tabhead li:hover {
	color: #44a6ec;
}

.on .cicon-scholar, .tabbox-style1 li:hover .cicon-scholar {
	background-position: -131px 0;
}

.cicon-project {
	background-position: -212px 0;
}

.cicon-footmark {
	background-position: -43px 0;
}

.cicon-downloads {
	background-position: -85px 0;
}

.cicon-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 20px;
	border-style: dashed dashed solid dashed;
	border-color: transparent transparent #f2f2f2 transparent;
	overflow: hidden;
	background: none;
}

@font-face {
	font-family: "ir-icon";
	src: url("../font/icomoon.eot"); /* IE9 兼容模式 */
	src: url("../font/icomoon.eot?#iefix") format("embedded-opentype"),
		url("../font/icomoon.woff") format("woff"), url("../font/icomoon.ttf")
		format("truetype"), url("../font/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.ir-icon {
	font-family: "ir-icon";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin-right:5px;
	color: gray; -webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.hide {
	display:none !important;
}