@charset "utf-8";
/* CSS Document */

/*公共样式部分 start*/
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,fieldset,form,label,input,table,tr,td { padding: 0px; margin: 0px;}
textarea {resize: none; overflow: auto; line-height: 18px; border: 1px solid #ccc;-webkit-appearance: none;}
html { font-family: sans-serif;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
ol,ul li {list-style: none outside none;}
img { border: none; /*display: block;*/}
body,button,input,select,textarea {font:Arial, serif;color: #666666; outline: 0;}
/*使 option 有间距*/
select {font-family: verdana, sans-serif;}
body { background-color: #fff;}
s,em { font-style: normal;}
s {text-decoration: none;}
h2 {font-size: 14px;color: #8B8989;font-family: "宋体","Microsoft YaHei", "黑体", "Simsun", serif;}
h4 {font-size: 12px; font-weight: 400; font-style: normal;}
font{ color:#f5655c; }
/* Links========================================================================== */
a/*,a:visited*/{ text-decoration: none; color: #333; border: none; background-color: transparent; cursor:pointer;}
a:focus { border: none;}

header, footer, article, section, nav, menu, hgroup {display: block;}
/* Forms ========================================================================== */
button,input,optgroup,select,textarea { margin: 0;}
button { overflow: visible; border: 0 none;}
button,select {text-transform: none; vertical-align:middle; }
button,html
input[type="button"],
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button;
   cursor: pointer;
}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
input {line-height: normal;}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box;
   padding: 0;
   vertical-align: middle;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] {
   -webkit-appearance: textfield;
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea {overflow: auto;resize: none;}
optgroup {font-weight: bold;}
table { /*border-collapse: collapse;*/ border-spacing: 0;}
td,th {padding: 0;}
.inline-block {display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; *vertical-align: auto; padding: 0;}
/*公共样式部分 end*/


.main_inner{ margin: 40px auto 0; width:1200px; padding-bottom:120px; }
.main_top{ padding-top: 20px;clear:both; }
.main_r{ float:right; width:880px; }
.fl_p{float:left;}
.fr_p{float:right;}
.fl{float:left;}
.fr{float:right;}

/*侧边栏导航 start*/
.main_l{ float:left;}
.sidebar_a_w1{ width:290px; }
.sidebar_a_w2{ width:250px;}
.sidebar_a_w2 .nav_page{width:205px;margin-left:24px;}
.sidebar_a_w2 .page_nub{margin-left:56px;}
.sidebar_a_w2 .tree{width:250px;}
.main_nav{ box-shadow:1px 2px 2px rgba(0,0,0,0.3); border-right:1px solid #ddd; border-bottom:1px solid #ddd }
.main_nav .tab_box{ width: 100%; height:45px; }
.main_nav .tab{position:relative; float:left; width:268px; overflow:hidden; height:45px; }
.main_nav .nav_tab{ width:999px; position:absolute; top:0; left:0; }
.main_nav .nav_tab a{
   float:left;
   height:45px;
   background:#ff6600;
   color:#fff;
   line-height:45px;
   text-align:center;
   font-size:14px;
   font-family:'微软雅黑';
}
.sidebar_a_w1 .nav_tab a{ min-width: 66px;}
.sidebar_a_w2 .nav_tab a{ min-width: 89px;}
.main_nav .nav_tab a+a{ margin-left:1px; }
.main_nav .nav_tab .active{ background:#fff; color:#ff6600; }
.main_nav .to_left{ float:left; display:none; }
.main_nav .to_right{ float:right; }
.main_nav .to_left,
.main_nav .to_right{ width:22px; height:45px; background:#ff6600; color:#fff; line-height:45px; text-align:center; }
.main_nav .to_right:hover,
.main_nav .to_left:hover{ background:#F90; }

.main_nav .sub_nav dd{ display:none; min-height:430px; padding-top:36px; }
.main_nav .sub_nav dd.cur{ display: block;}
.main_nav .sub_nav li a{ display: block; padding-left: 80px; color:#333; line-height:48px; font-size: 14px; }
.main_nav .sub_nav li.active a{ background:#eee; color:#ff6600; }
/*侧边栏导航 end*/

/*seach  start*/
.main_seach{
	height:52px;
	position:relative;
	margin-top:2px;
	border-bottom:1px solid #eee;
	margin-bottom:26px;
	
}
.top_tit_01{
	float:left;
	font-size:18px;
	font-weight:bold;
	display:block;
	font-size:20px;
	font-family:'微软雅黑';
	color:#333;
	line-height:52px;
/*	margin:15px 0 0 5px;*/
	border-bottom:1px solid #f70;
	padding:0 3px;

}
.seach_line{
	display:block;
	float:right;
	border:1px solid #d3d3d3;
	border-radius:4px;
	width:410px;
	height:32px;
	padding-left:10px;
  	margin:10px 10px 0 0;
}
.sel_search{
	position:absolute;
	top:17px;
	left:5px;
	border:none;
}
.search{
	float:right;
	position:relative;
}
.seach_icon{
	display:block;
	width:23px;
	height:35px;
	background:url(../images/f_icon04.png) no-repeat center center;
	position:absolute;
	top:9px;
	right:20px;

}
.gjjs{
	position:absolute;
	top:13px;
	right:60px;
}
.gjjs img{
	width:26px;
}
.gjjs_inner{
	background:#f8f8f8;
	width:420px;
	height:350px;
	position:absolute;
	top:44px;
	left:0;
	z-index:99;
	box-shadow:1px 2px 10px rgba(51,51,51,.3);
}
.gjjs_inner table{
	margin-left:50px;
	line-height:40px;
}
.gjjs_inner table td input,.gjjs_inner table th input{
	margin-left:10px;
	border:1px solid #ccc;
	line-height:26px;
	height:26px;
	width:200px;
	padding-left:5px;
}
.gjjs_inner p{
	line-height:50px;
	margin-left:30px;
}
.gj_btn{
	display:block;
	border-radius:3px;
	color:#fff;
	font-size:15px;
	width:80px;
	line-height:30px;
	height:30px;
	background:#036;
	text-align:center;
	margin:20px auto 0;
}
.gj_btn:active{
	opacity:.8;
}
/*seach  end*/


/*学者列表*/
.scholar_info_list{ margin-left: -20px; margin-top:2px;}
.scholar_info_list li{ display: inline-block; width:275px; height:210px; margin-left: 10px; }
.scholar_info_list li{ *display: inline;}
.scholar_info_list .photo{ display: inline-block; width: 145px; height: 170px; margin-right: 5px; border:1px solid #e8e8e8;}
.scholar_info_list .photo img{width:145px;height:170px;}
.scholar_info_list .msg{ display: inline-block; height: 50px; vertical-align: top; }
.scholar_info_list .name{ float:left;margin-left: 0; margin-bottom: 10px; line-height: 50px; font-size:16px; font-family: "microsoft yahei"; color:#000; width:50px;overflow: hidden; white-space:nowrap; text-overflow: ellipsis;padding-top:5px;}
.scholar_info_list .photo,
.scholar_info_list .msg{ *display: inline; }
.scholar_info_list .msg p{ padding: 5px 0; line-height: 20px; font-size: 12px; color:#555; clear:both;max-width:115px;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:default;width:150px;}
.scholar_info_list p i{ display: inline-block; width: 17px; height: 17px; margin-left: 5px; vertical-align: top; background: url("../images/icon-job.png") no-repeat 0 0; }
.scholar_info_list .msg .p_text{max-width:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;}
.scholar_info_list .photo:hover img{ opacity:.8; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);}
.scholar_info_list .name:hover{ color:#a94f1e; }
.db{
	float: left;
	display: block;
	padding: 0 5px;
	background: #eee;
	border-radius: 3px;
	font-size: 12px;
	margin: 22px 0 0 10px;
}
.qxdb{
	background:#eee;
	color:#f60;
}
.db:hover{
	color:#fff;
	background:#ccc;
}
.db:active{
	opacity:.8;
}
.db_fix{
	position:fixed;
	right:0;
	bottom:200px;
}
.db_show{
	width:250px;
	background:#eee;
	min-height:170px;
	border:1px solid #ccc;	
}
.db_show a:active{
	opacity:.8;
}
.db_top{
	line-height:24px;
	padding-left:10px;
	background:#F93;
}
.db_top span{
	color:#fff;
}
.db_top a{
	float:right;
	margin-right:10px;
	color:#fff;
}
.db_show table th{
	font-weight:normal;
}
.db_show table th,.db_show table td{
	text-align:center;
}
.white{
	background:#fff;
}
.db_fixbtn{
	width:60px;
	display:block;
	margin:20px auto 10px;
	border-radius:3px;
	background:#F93;
	color:#fff;
	text-align:center;
}
.db_hide{
	width:58px;
	height:50px;
	position:absolute;
	top:0;
	right:0;
}
.db_hide .ts_num{
	display:block;
	height:20px;
	width:20px;
	border-radius:10px;
	background:#f93;
	color:#fff;
	position:absolute;
	top:-10px;
	right:0;
	text-align:center;
}
.db_hide a{
	display:block;
	width:48px;
	height:40px;
	background:#eee;
	color:#333;
	padding:10px;
}
/*学者介绍、学者共享成果 public start*/
.main_top_left{ float: left; width:240px; height:240px;  margin-right: 30px; margin-bottom: 10px; }
.main_top_right{ float:left; width: 910px; }
.main_top_right .name{ padding-left: 10px; margin-left: 0; line-height: 40px; font-size:20px; font-family: "microsoft yahei"; color:#333; clear:both;padding-top:0 !important; }
.main_top_right .spell{ margin-left: 30px; font-size: 14px; color:#666; clear:both; }
.main_top_right .job_pos{ padding-left: 10px; line-height: 25px; font-size: 14px; color:#999; clear:both;}
.main_top_right .department{ padding-left: 10px; margin-bottom: 5px; line-height: 25px; font-size: 14px; color:#999;}
.main_top_right .other_infos{ padding-left: 10px; background-color: #f8f8f8;height:122px; }
.main_top_right li{ padding: 5px 0; font-size: 13px; line-height: 22px; color:#333; clear:both; }
.main_top_right li span{ font-size: 14px; color:#999; }
.mid_bar{ width: 100%; height: 50px; margin-bottom:10px;border-bottom: 1px solid #ddd; clear:both; }
.mid_bar .ORCID{ float:left; width: 270px; line-height: 30px; font-size:12px; color:#666; }
.mid_bar .btn_box{ float:left; width: 510px;padding-top:6px; }
.mid_bar .btn_box a{ float:left; width:80px; height:28px; margin-right: 8px; line-height: 28px; text-align:center; color:#fff; font-size:13px; background-color: #6291fd; border-radius: 4px; }
.mid_bar .btn_box a:hover{  background-color: #fe812d; }
.mid_bar .count{ float:left; width: 380px; }
.mid_bar .count li{ display: inline-block; width:90px; text-align:center; line-height:22px; color:#c2ac83; font-size:13px; }
.mid_bar .count li{ *display: inline; }
.mid_bar .count em{ display: block; color:#666; line-height: 20px; font-size:14px; font-style: normal; font-weight:bold; white-space: nowrap; }
.main_top_canvas{ min-height: 390px; clear:both;}
.main_top_canvas img{ float:left; }
/*左侧菜单*/
.b_sidebar-a{ float: left; width: 290px;}
.b_sidebar-a em{ float: right;line-height:22px;background:#F70;color:#fff;padding:0 8px;border-radius:3px;margin:21px 20px 0 0;font-size:14px;}
.b_nav>li+li{ border-top: 1px solid #ededed; }
.b_nav>li>a{ display: block; width:90%;  height:60px; line-height:60px; font-size:16px; color:#333;  font-family: "microsoft yahei";padding-left:10%;}
.b_nav>li.on>a{ color:#fff; background-color:#ff812d; }
.b_nav>li.on em{background:none;}
.b_nav>li p{ padding-top: 10px; }
.b_subnav dd{ padding-bottom: 15px; border-bottom:1px solid #ededed; }
.b_subnav h5{ height:48px; padding-left: 10px; margin-bottom: 15px; line-height:48px; font-size: 16px; border-bottom: 1px solid #eee;   }
.b_subnav li{ height: 26px; padding-left: 10px; margin-top: 8px; line-height: 26px; }
.b_subnav li a{ display: block; color:#666; font-size: 14px; border:none; }
.b_subnav li:hover,
.b_subnav li.cur{ background-color: #f4f4f4; }
.b_subnav em{ *margin-top:-26px;}
.b_subnav input[type="text"]{ width:50px; height: 24px; margin-left: 5px; margin-right: 5px; border:1px solid #dcdcdc; text-align:center;  }
.b_subnav .btn_sure{margin-left: 5px; font-size:13px; color:#333;  border:1px solid #dcdcdc;width:40px; line-height:24px;text-align:center;padding:3px 5px 5px 5px;}
.b_subnav .btn_sure:hover{ color:#fff; background-color: #ff812d;border:1px solid #ff812d; }
.b_content{ float: right; width: 908px; min-height: 211px; border-left:1px solid #dcdcdc;}
.tree_first_stage{border:1px solid #eee;border-top:none;border-bottom:none;}
/*学者介绍、学者共享成果 public end*/
/*学者介绍*/
.intro-brief{ padding-left: 25px; padding-bottom: 25px; line-height: 30px; font-size:14px; color:#333;margin-top:20px; }
.intro-detail dd{ padding-left: 25px; padding-bottom: 25px; color:#333; border-top: 1px solid #ededed; }
.intro-detail h6.tit{ font-size:16px; line-height: 60px; }
.intro-detail li{ padding: 5px 0 5px 20px; font-size:14px; line-height: 28px; }
.intro-detail li a{ margin-left: 20px; color:#ff8230; font-size:13px;}
.intro-detail li .icon{ display: inline-block; width: 15px; height:18px; margin-left: 5px; }
.intro-detail li .icon-download{ background-image: url(../images/download_39.png);background-repeat: no-repeat; background-position: 0 -1px; }
.intro-detail li a:hover .icon-download{background-position: 0 -25px; }
.intro-detail .icon-bg-list li{ background: url("../images/icon_list_bg.png") left 16px no-repeat; }
/*学者共享成果*/
.opts-box{ height: 30px; padding-top: 10px; padding-bottom: 12px; font-size:13px; border-bottom:1px solid #ededed;  clear:both;}
.opts-l{ float: left;}
.opts-r{ float: right;}
.opts-box label{ margin-right: 15px; line-height: 30px; cursor: pointer; }
.opts-box label input{ margin-right: 10px;vertical-align:middle; margin-top:-2px;}
.b_sidebar-a .tree_first_stage{margin-top:10px;}
.tit_box .right_a{
   float:right;
   display:block;
   width:45px;
   line-height:24px;
   height:24px;
   color:#696969;
   font-size:12px;
   margin:11px 15px 0 0;
}
.tit_box .download{
   background:url(../images/download_39.png) no-repeat;
   background-position:top right;
}
.tit_box .preview{
   background:url(../images/preview.png) no-repeat;
   background-position:top right;
}
.tit_box  .download:hover,.tit_box .preview:hover{
   background-position:bottom right;
   color:#333;
}
.tit_b{
   margin-left:31px;
   line-height:24px;
}
.Selected{
   float:left;
   width:100%;
}
.Selected div{
   float:left;
   padding:0  0 0 5px;
   line-height:20px;
   vertical-align:middle;
   margin:2px 5px 16px 0;
   background:#5cada4;
   color:#fff;
   font-size:12px;
   font-family:'微软雅黑';
   height:20px;
   border-radius:3px;
}
.Selected div:hover{
   background:#47958d;
   
}
.Selected div a{
   height:20px;
   margin-left:6px;
   padding:0 1px;
   width:18px;
   display:block;
   float:right;
   background:url(../images/close_37.png) no-repeat;
   background-position:center;
}
.Selected div a:active{
   background:url(../images/close_39.png) no-repeat;
   background-position:center;
}


/*排序*/
.order li+li{border-left:1px solid #dcdcdc; }
.order li{ display: inline-block; height:28px; margin-right:20px; padding-left: 35px; line-height:28px; }
.order li .icon{ display: inline-block; width:15px; height: 16px; margin-left: 10px; vertical-align: middle; }
.order li{ *display: inline;}
.order li.descend .icon,
.order li.ascend .icon{ background-image:url(../images/icon-order.png); background-repeat: no-repeat; transition: background .3s ease;}
.order li.descend .icon{ background-position:0 0; }
.order li.ascend .icon{ background-position:0 -16px;  }
.order li a{ color:#333; }
.order li a:hover{  color:#53a2e4; }
/*分类*/
.sort{ position:relative; color:#666; height: 26px; z-index: 22;}
.sort a{ display:block; }
.sort-default{ display:inline-block; font-size:14px; width: 85px; height: 24px;line-height: 24px; cursor:pointer;border:1px solid #ddd; border-radius:4px; background-color:#fff;padding:0 6px;}
.sort-default span{ display:block;width: 60px;font-size: 12px;text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.sort-default .sort-icon{ display:inline-block; color:#000;}
.sort-list{ position:absolute; display:none; border:1px solid #dfdede; border-radius:4px 4px 0 0; background:#fff; left:-1px;top:-1px; width:100%;}
.sort-list a{ padding:0 12px 0 0; color:#333; text-align:center;}
.sort-list li{ height: 26px; line-height: 26px;}
.sort-list li.cur a{ color:#53a2e4;}
.sort-list li a:hover{ color:#53a2e4; text-decoration:none; background:#f5f5f5; }

.list_top_bar{ height:30px; line-height:30px;margin-left:30px;margin-right:15px; }
.list_top_bar .top_r{ float:right;  }
.list_top_bar em{  margin: 0 5px; color:#ff812d; font-style: normal; }
.list_top_bar .fl .export_btn{margin-left:15px;}
.list_top_bar .fl .export_btn:active{opacity:.7; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
.list_top_bar .fl input{vertical-align:middle; margin-top:-2px;}
.achievement_list{ width:100%; margin-bottom: 52px; }
.achievement_list dd{ padding: 20px 0 20px 35px; border-bottom: 1px solid #ededed; }
.achievement_list .tit{display:block; padding-left: 6px 0; margin-bottom: 10px; font-size: 16px; color:#333;  font-family: 'microsoft yahei'; line-height:28px; font-weight:bold; letter-spacing:1px; }
.achievement_list .sign{ margin-right: 7px; color: #438570; font-style: normal; }
.achievement_list .tag_box{ min-height: 30px;}
.achievement_list .tag_box li{ display: inline-block; padding: 2px 5px; margin-bottom: 5px; margin-right: 10px; background:#c1ae90; color:#fff; font-size:12px; font-family:'微软雅黑'; }
.achievement_list .tag_box li{ *display: inline;}
.achievement_list .name-btn-box{ height:24px; line-height:24px; clear:both;}
.achievement_list .name{ width:820px; margin-left: 0; font-size:13px; color:#777; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:18px;padding-top:5px;}
.name-btn-box .download{ float:right; width:45px; color:#696969; background:url(../images/download_39.png) no-repeat; background-position:top right; }
.name-btn-box .download:hover{ color:#333; background-position: bottom right; }
.achievement_list .abstract{ padding-top: 10px; font-size:14px; color:#333; line-height:28px; clear:both; }

.main_r_list{
   margin-bottom:52px;
   margin-left:30px;
}
.list_single{
   margin-top:15px;
}
.list_single .tit{
   font-size:16px;
   font-family:'微软雅黑';
   line-height:40px;
   font-weight:bold;
   color:#333;
   width:680px;
   white-space:nowrap; 
   overflow:hidden;
   text-overflow:ellipsis;
   float:left;
   letter-spacing:1px;
}
.sign{ margin-right: 7px; color: #39816f; font-style: normal; }   
.tag_box{ min-height: 24px;margin-left:32px; margin-top:5px;}
.tag_box li{ display: inline-block;line-height:16px;padding:0 5px;  margin-right: 3px; background:#c9a989;/* border:1px solid #f60;*/ color:#fff; font-size:12px; font-family:Arial, Helvetica, sans-serif; border-radius:3px;}
.tag_box li{ *display: inline;}
.tit_box .number{
   float:right;
   line-height:40px;
   color:#ff6500;
   font-family:'宋体';
}
.tit_box .number span+span{
   margin-left:15px;
}
#checkbox_tit{
   margin-right:5px;
}
.list_single  .name{
   margin-left:31px;
   font-size:13px;
   color:#777;
   line-height:20px;
   width:880px;
   white-space:nowrap; 
   overflow:hidden;
   text-overflow:ellipsis;
   padding-top:0;
}
.tit_b{
   margin-left:31px;
   line-height:24px;
}
.tit_box .download{
   float:right;
   display:block;
   width:45px;
   line-height:24px;
   height:24px;
   background:url(../images/download_39.png) no-repeat;
   background-position:top right;
   color:#696969;
   font-size:12px;
   margin:11px 15px 0 0;
}
.tit_box  .download:hover{
   background-position:bottom right;
   color:#333;
}
.list_single .time{
   margin-left:10px;
   color:#8c8c8c;
}
.list_single .abstract{
   margin:10px 0 0 30px;
   font-size:14px;
   color:#333a42;
   font-family:'宋体';
   line-height:24px;
   padding-bottom:24px;
}
.list_single .number{
   float:right;
   line-height:15px;
   color:#947c67;
   font-family:'宋体';
   margin-right:5px;
   
}
.number_box{
   border-bottom:1px solid #ededed;
   height:20px;
}
/*学者共享成果 end*/
.source p{width:820px; margin-left: 0; font-size:13px; color:#333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;line-height:22px; }
.abstract_p{ padding-top:10px; font-size:14px; color:#333; line-height:28px; clear:both; }
.achievement_list .tit a{line-height:25px; color:#333;}
.achievement_list .tit a:hover{line-height:25px; color:#000;}
/*page start*/
.pages {
   width:750px;
   margin:50px auto;
   padding-left:130px;
   height:43px;
}
.pages #Pagination {
   float: left;
   overflow: hidden;
}
.pages #Pagination .pagination {
   height: 40px;
   text-align: right;
   font-family: \u5b8b\u4f53,Arial;
}
.pages #Pagination .pagination a,
.pages #Pagination .pagination span {
   float: left;
   display: inline;
   padding: 12px 18px;
   border: 1px solid #eee;
   border-right: none;
   background: #f9f9f9;
   color: #666666;
   font-family: \u5b8b\u4f53,Arial;
   font-size: 14px;
   cursor: pointer;
}
.pages #Pagination .pagination a:hover,
.pages #Pagination .pagination .current {
   background: #ffac59;
   color: #fff;
   /*border:1px solid #ffac59;*/
}
.pages #Pagination .pagination .prev,
.pages #Pagination .pagination .next {
   float: left;
   padding: 12px 13px;
   border: 1px solid #eee;
   background: #f9f9f9;
   color: #666666;
   cursor: pointer;
}
.pages #Pagination .pagination .prev i,
.pages #Pagination .pagination .next i {
   display: inline-block;
   width: 4px;
   height: 11px;
   margin-right: 5px;
   /*background: url(../images/icon.fw.png) no-repeat;*/
}
.pages #Pagination .pagination .prev {
   border-right: none;
}
.pages #Pagination .pagination .prev i {
   background-position: -144px -1px;
   *background-position: -144px -4px;
}
.pages #Pagination .pagination .next i {
   background-position: -156px -1px;
   *background-position: -156px -4px;
}
.pages #Pagination .pagination .pagination-break {
   padding: 11px 5px;
   border: none;
   border-left: 1px solid #e6e6e6;
   background: none;
   cursor: default;
}
.pages .searchPage {
   float: left;
   padding: 8px 0;
}
.pages .searchPage .page-sum {
   padding: 11px 13px;
   color: #666;
   font-family: \u5b8b\u4f53,Arial;
   font-size: 14px;
}
.pages .searchPage .page-go {
   padding: 8px 0;
   color: #666;
   font-family: \u5b8b\u4f53,Arial;
   font-size: 14px;
   padding: 10px 0\9;
   *padding: 6px 0;
}
.pages .searchPage .page-go input {
   width: 21px;
   height: 20px;
   margin: 0 5px;
   padding-left: 5px;
   border: 1px solid #e4e4e4;
}
.pages .searchPage .page-btn {
   margin: 9px 0 5px 5px;
   padding: 2px 5px;
   background: #ffac59;
   border-radius: 2px;
   color: #ffffff;
   font-family: Arial, 'Microsoft YaHei';
   font-size: 14px;
   text-decoration: none;
}
/*page end*/
.main_keywords{
   min-height:100px;
   margin-top:15px;
   background:#f7f7f7;
}
.table_bottom{
   line-height:56px;
   margin-left:30px;
   height:56px;
   background:#fff;
   margin-bottom: 60px;
   
}
.table_bottom select{
   min-width:80px;
   text-align:center;
   height:22px;
   margin-left:10px;

}
.table_bottom select option{
   text-align:center;
   line-height:26px;
}
.display{
   
   float:left;
}
.page{
   height:30px;
   background:#fff;
   min-width:118px;
   float:right;
   margin:13px 55px 0 0;
   
}
.page ul{
   float:left;
   border:1px solid #eee;
}
.page li a{
   display:block;
   line-height:28px;
   min-width:46px;
   text-align:center;
   font-family:Arial, Helvetica, sans-serif;
   font-size:13px;
   color:#333;
}
.page li .active{
   background:#8fb1f0;
   color:#fff;
   cursor:default;
   text-decoration:none;
}
.page li+li{
   border-left:1px solid #e1e1e1;
}
.page li{
   float:left;
}
.prev:active,.next:active{
   background-color:#f5f5f5;
}
.prev{
   float:left;
   width:35px;
   height:28px;
   border-radius:3px 0 0 3px;
   border:1px solid #eee;
   background:url(../images/page_icon_06.png) no-repeat center;
}
.next{
   float:right;
   width:35px;
   height:28px;
   border-radius: 0 3px 3px 0;
   border:1px solid #eee;
   background:url(../images/page_icon_03.png) no-repeat center;
}
.prev_disabled {
   float:left;
   width:35px;
   height:28px;
   border-radius:3px 0 0 3px;
   border:1px solid #eee;
   background:url(../images/page_icon_06.png) no-repeat center;
   cursor:default;
   color:#E5E0E0;
   text-decoration:none;
}
.next_disabled {
   float:left;
   width:35px;
   height:28px;
   border-radius:3px 0 0 3px;
   border:1px solid #eee;
   background:url(../images/page_icon_03.png) no-repeat center;
   cursor:default;
   color:#E5E0E0;
   text-decoration:none;
}